<div class="container">
  <mat-card-title class="mainTitle">
    <button mat-icon-button [routerLink]="['/', 'dashboard', 'message']">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    Lista Schematów Wiadomości
  </mat-card-title>

  <form [formGroup]="searchForm" autocomplete="off">
    <mat-form-field class="searchInput">
      <mat-label>Wyszukaj Wiadomość</mat-label>
      <input matInput placeholder="Imie lub nazwisko" name="search" [formControl]="searchCtrl">
    </mat-form-field>
  </form>

  <mat-spinner *ngIf="(isLoading$|async); else data"></mat-spinner>
  <ng-template #data>

    <ng-container *ngIf="schemas[0]; else empty">
      <mat-action-list class="schemas">

        <div class="item" *ngFor="let schema of schemas">

          <button mat-icon-button class="editBtn" (click)="initChat(schema)">
            <mat-icon class="active">chat</mat-icon>
          </button>

          <button class="name" mat-list-item (click)="select(schema)" (click)="edit(schema)">{{schema.name}}</button>
        </div>

      </mat-action-list>

      <mat-paginator
        [length]="pagination.length"
        [pageSize]="pagination.pageSize"
        [pageSizeOptions]="[2, 5, 10]"
        [pageIndex]="pagination.pageIndex"
        (page)="changePage($event)">
      </mat-paginator>
    </ng-container>

  </ng-template>
</div>

<button mat-raised-button color="primary" class="addBtn" (click)="add()">Dodaj schemat wiadomości</button>

<ng-template #loader>
  <mat-spinner ></mat-spinner>
</ng-template>

<ng-template #empty>
  <div class="emptyContainer">
    <div class="title">Brak danych</div>
  </div>
</ng-template>
