@import 'variables';
@import 'mixins';

.container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: white;
  padding: 25px;
  box-shadow: $box-shadow-default;
  border-radius: 7px;
  height: 100%;

  .header{
    margin-bottom: 10px;
    .title {
      font-weight: 500;
      font-size: 18px;
      color: $primary;
      @include mobile{
        text-align: center;
      }
    }
    .subtitle {
      font-size: 14px;
      color: #b5b5c3;
      @include mobile{
        text-align: center;
      }
    }
  }


  .content {
    display: flex;
    flex-flow: column;
    min-height: 80px;
    justify-content: flex-end;
    @include mobile{
      min-height: 0 !important;
    }

    .action {
      cursor: pointer;
      position: relative;
      padding-left: 8px;

      &:hover{
        color: $primary;
        &::before {
          max-height: 3px;
          transform: translateY(-1px);
        }
      }

      &::before {
        content: '';
        width: 5px;
        height: 10px;
        max-height: 1px;
        display: block;
        position: absolute;
        left: 0;
        top: 11px;
        background-color: $primary;
        transition: max-height  0.3s, transform 0.3s;
      }
    }
  }
}
