@import 'mixins';
.container{
  display: flex;
  flex-flow: column;

  .mainTitle{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .listSpinner{
    margin: 50px auto;
  }

  mat-action-list {
    flex: 1;

    .item{
      display: flex;
      flex-flow: row;
      align-items: center;

      button{

        .onlyDesktop{
          width: 100%;
          @include onlyDesktop;
        }
        .onlyMobile{
          width: 100%;
          @include onlyMobile;
        }
        .content{
          font-size: 13px;
          width: 100%;
          display: flex;
        }
      }
    }
  }

  form{
    flex: 1;
    mat-form-field{
      width: 100%;
    }
  }

  .emptyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    .title{
      font-size: 20px;
    }
  }
}
