@import './../../../node_modules/ngx-guided-tour/scss/guided-tour-base-theme.scss';

.tour-buttons{
  .next-button, .back-button{
    padding: 5px 10px!important;
    border-radius: 5px!important;
  }
  .back-button{
    margin-right: 5px!important;
  }
  .back-button:hover{
    background-color: #eee!important;
  }
  .skip-button{
    display: none;
  }
}

.tour-block{
  padding: 15px!important;
}
