<mat-card-title>Lista modułów</mat-card-title>

<div class="cubesContainer">

  <div class="moduleCube" [routerLink]="['/', 'dashboard', 'customer']">
    <mat-icon>assignment_ind</mat-icon>
    <div class="title">Klientki</div>
  </div>
  <div class="moduleCube" [routerLink]="['/', 'dashboard', 'message']">
    <mat-icon>phonelink_setup</mat-icon>
    <div class="title">Wiadomości</div>
  </div>
  <div class="moduleCube" [routerLink]="['/', 'dashboard', 'work']">
    <mat-icon>work</mat-icon>
    <div class="title">wizyty</div>
  </div>
</div>
