<form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="title">Witaj!</div>
    <mat-error *ngIf="form.errors && form.errors['invalidCredentials']">
      {{form.errors['invalidCredentials']}}
    </mat-error>

    <mat-form-field>
      <input matInput placeholder="Email" type="email" required [formControl]="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Hasło" required [formControl]="password">
    </mat-form-field>

    <!-- <div class="row">
      <div class="forgotPassword">Forgot password?</div>
    </div> -->

    <button mat-raised-button color="primary" type="submit" id="submit">Zaloguj się</button>
    <!-- <div class="text">Don't have an account? <span class="highlighted" routerLink="/auth/register">Register</span></div> -->
</form>
