@import 'mixins';

.form {
  display: flex;
  flex-flow: column;

  .datesContainer {
    display: flex;
    flex-flow: row;

    @include mobile {
      flex-flow: column;
    }

    mat-form-field {
      &:first-of-type {
        margin-right: 10px;

        @include mobile {
          margin: 0;
        }
      }

    }
  }

  mat-form-field {
    position: relative;

    &.customer {
      margin-bottom: 20px;
    }

    .infoB {
      position: absolute;
      left: 0;
      bottom: -22px;
      font-size: 11px;
      color: #02bec9;
      cursor: pointer;
      outline: 0;
    }
  }

  .labels {
    margin-bottom: 15px;

    .title {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
}

.titleContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: flex-start;

  .title {
    font-size: 18px;
    font-weight: 500;
  }
}
