<div class="titleContainer">
  <div class="title">{{work && work.id ? 'Edycja wizyty' : 'Dodawanie wizyty'}}</div>
  <button mat-raised-button color="warn" type="button" (click)="remove()" *ngIf="ableToRemove">Usuń</button>
</div>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

  <div class="datesContainer">

    <mat-form-field cdkFocusRegionstart class="dateCtrl">
      <input matInput [ngxMatDatetimePicker]="picker" type="text" placeholder="Data początku" [formControl]="startCtrl" [min]="actualDate" name="startCtrl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker
        [showSpinners]="true"
        [showSeconds]="false"
        [stepHour]="1"
        [stepMinute]="15"
        [touchUi]="true"
        [color]="'primary'"
        [enableMeridian]="false"
        [disableMinute]="false"
        [hideTime]="false">
      </ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field  class="dateCtrl">
      <input matInput [ngxMatDatetimePicker]="pickerStop" type="text" placeholder="Data końca" [formControl]="stopCtrl" [min]="startCtrl.value" name="stopCtrl">
      <mat-datepicker-toggle matSuffix [for]="pickerStop"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #pickerStop
        [showSpinners]="true"
        [showSeconds]="false"
        [stepHour]="1"
        [stepMinute]="15"
        [touchUi]="true"
        [color]="'primary'"
        [enableMeridian]="false"
        [disableMinute]="false"
        [hideTime]="false">
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

  <mat-form-field class="customer">
    <mat-label>Klientka</mat-label>
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
      <mat-option *ngFor="let customer of filteredCustomers$|async" [value]="customer">
        {{customer.name}} {{customer.surname}} ({{customer.phone}})
      </mat-option>
    </mat-autocomplete>
    <input matInput placeholder="Imie" [formControl]="customerCtrl" [matAutocomplete]="auto" >
    <span class="infoB" (click)="newCustomer($event)">Nowa Klientka?</span>
  </mat-form-field>

  <div class="labels">
    <div class="title">Wybór etykiety</div>
    <app-label-choose #labelChoose
      [singleChoose]="true"
      [labelsChoosenIds]="labelCtrl.value ? [labelCtrl.value.id] : []"
      (labelsChanged)="catchLabelChange($event[0])">
    </app-label-choose>
  </div>

  <!-- [preventEditing]="true"
  (newLabelWasClicked)="newLabelOpenned = !newLabelOpenned" -->

  <!-- <app-label-form *ngIf="newLabelOpenned" (labelSaved)="catchLabelSave($event)"></app-label-form> -->

  <div class="buttonContainer">
    <button mat-raised-button color="primary" class="addBtn" type="submit" [disabled]="isLocked">Zapisz wizyte</button>
  </div>
</form>
