<div class="container">
  <div class="header">
    <div class="title">
      Edycja etykiet
      <app-help-info [message]="'Poniżej jest lista Twoich etykiet gdzie możesz swobodnie je zmieniać'"></app-help-info>
    </div>
    <mat-spinner *ngIf="loadingState$|async" [diameter]="25"></mat-spinner>
    <div class="btnsContainer">
      <button mat-raised-button color="primary" (click)="openNewLabel()">Dodaj nową etykietę</button>
    </div>
  </div>
  <div *ngFor="let label of labels" class="labelContainer">
    <app-label-form [label]="label" (labelChanged)="catchLabelChange($event, label)"></app-label-form>
    <button mat-icon-button color="warn" class="submitBtn" type="button" (click)="remove(label)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </div>
</div>
