@import 'mixins';

.container {
  @include popupContainer;
  max-height: 90vh;
  padding: 17px;
  overflow-y: auto;

  .header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    @include mobile{
      flex-flow: column;
    }

    .title {
      font-size: 500;
      font-size: 18px;
      margin-bottom: 10px;
      display: flex;
      flex-flow: row;
      align-items: center;
    }

    .btnsContainer {
      @include mobile{
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
      }
      button {
        margin-left: 7px;
      }
    }
  }
}

.workersContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 13px;

  @include mobile {
    width: 100%;

    button {
      margin-bottom: 10px;
    }

    app-worker-form {
      width: 100%;
      margin: 0 5px;
    }

    mat-divider {
      width: 100%;
      margin: 3px 0 10px;
      order: 3;
    }
  }


  app-worker-form {
    flex: 1;
  }
}
