.form{
  padding: 20px;
  display: flex;
  flex-flow: column;

  mat-form-field{

  }

  .buttonContainer{
    width: 100%;

    button{
      margin-left: auto;
    }
  }
}
.removeBtnContainer{
  width: 100%;
  button{
    display: block;
    margin-left: auto;
  }
}
