@import 'mixins';
.form{
  display: flex;
  flex-flow: column;

  mat-form-field{

  }

  app-schema-body{
    margin-bottom: 20px;
  }

  .buttonContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

    button{
      margin-right: 5px;
    }
  }

  mat-checkbox{
    @include mobile {
      margin-bottom: 20px;
    }
  }
}

.row{
  display: flex;
  flex-flow: row wrap;
}

.removeBtnContainer{
  width: 100%;
  button{
    display: block;
    margin-left: auto;
  }
}
