.form{
  display: flex;
  flex-flow: column;

  mat-form-field{

  }

  app-schema-body{
    margin-bottom: 20px;
  }

  .buttonContainer{
    width: 100%;
    display: flex;

    button{
      margin-left: auto;
    }
  }
}
.removeBtnContainer{
  width: 100%;
  button{
    display: block;
    margin-left: auto;
  }
}
