<div class="removeBtnContainer" *ngIf="ableToRemove">
  <button mat-raised-button color="warn" type="button" (click)="remove()">Usuń</button>
</div>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" cdkFocusRegionStart autocomplete="off">

  <mat-form-field>
    <mat-label>Nazwa</mat-label>
    <input matInput placeholder="Nazwa" [formControl]="nameCtrl">
  </mat-form-field>

  <app-schema-body [bodyCtrl]="bodyCtrl"></app-schema-body>

  <div class="row">
    <mat-checkbox [formControl]="clearDiacriticsCtrl" color="primary">Usuń polskie znaki</mat-checkbox>
    <div class="buttonContainer">
      <button mat-raised-button color="primary" type="button" (click)="preview()">Podgląd</button>
      <button mat-raised-button color="primary" class="addBtn" type="submit">Zapisz</button>
    </div>
  </div>
</form>
