<div class="container">

  <!-- <mat-card class="m-t-10">
    <mat-card-content> -->
      <div class="info">
        <div class="title">
          Witaj w Mobilna Kosmetyczka
        </div>
        <div class="description">
          Proste narzędzie ułatwiające pracę oraz podnoszące jakość Twoich usług którego działanie zrozumiesz w czasie wypicia kawy.
        </div>
        <ul class="features">
          <li class="feature">Organizacja usług w kalendarzu</li>
          <li class="feature">Profesjonalne powiadomienia SMS</li>
          <li class="feature">Zbiór Twoich klientów zorganizowny w jednym miejscu</li>
        </ul>
      </div>
      <div class="content">
        <img src="assets/logo-black.svg" class="logo" alt="homepage">
        <router-outlet></router-outlet>
        <div class="placeholder"></div>
      </div>
    <!-- </mat-card-content>
  </mat-card> -->
</div>

