.container {
  background-image:url("/assets/backgrounds/login-page.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .box{

  }
}
