<div class="container">
  <mat-card-title class="mainTitle">
    <button mat-icon-button [routerLink]="['/', 'dashboard']">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    Kalendarz
  </mat-card-title>

  <app-main-calendar
    [eventsData]="events"
    [updatingState$]="isUpdating$"
    (dateDisplayedChanged)="changeDate($event)"
    (emptyHourClicked)="addWorkOnDate($event)"
    (eventTimeChanged)="changeTimeOfWork($event)"
    (eventClicked)="workClicked($event)">
  </app-main-calendar>
</div>
