<div class="container">
  <mat-card-title class="mainTitle">
    <button mat-icon-button [routerLink]="['/', 'dashboard']">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    Kalendarz
  </mat-card-title>

  <app-main-calendar *ngIf="events"
    [eventsData]="events"
    [updatingState$]="isUpdating$"
    (changeDate)="changeDate($event)"
    (emptyHourClicked)="addWorkOnDate($event)"
    (eventTimeChanged)="changeTimeOfWork($event)"
    (eventClicked)="workClicked($event)">
  </app-main-calendar>

  <ng-container *ngIf="isLoading$|async">
    <mat-spinner></mat-spinner>
  </ng-container>
</div>
