@import 'mixins';

mat-spinner{
  margin: 0 auto;
}

.mainTitle{
  .workerEdit{
    margin-left: auto;
  }
}

.controlButtonsContainer{
  position: fixed;
  bottom: 80px;
  right: 25px;
  display: flex;
  flex-flow: column;
  z-index: 999;

  button:first-of-type{
    margin-bottom: 10px;
  }
}

.workersContainer{
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  z-index: 999999;
  background-color: white;
  padding: 5px;
  border-bottom: 1px solid #ddd;

  @include mobile{
    flex-flow: column;
    top: -27px;
    padding: 0;
  }

  .title{
    font-size: 18px;
    font-weight: 500;
    @include mobile{
      margin-bottom: 5px;
    }
  }
}
