<form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="title">Admin panel!</div>
  <mat-error *ngIf="form.errors && form.errors['invalidCredentials']">
    {{form.errors['invalidCredentials']}}
  </mat-error>

  <mat-form-field>
    <input matInput placeholder="Email" type="email" required [formControl]="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Hasło" required [formControl]="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" id="submit">Zaloguj się</button>
</form>
