<div class="container">
  <mat-card-title class="mainTitle">Kalendarz</mat-card-title>

  <div class="calendar">
    <mwl-calendar-week-view
      [viewDate]="configData.actualDate"
      [locale]="configData.locale"
      [precision]="configData.precision"
      [hourSegments]="configData.hourSegments"
      [dayStartHour]="configData.dayStartHour"
      [dayStartMinute]="configData.dayStartMinute"
      [dayEndHour]="configData.dayEndHour"
      [dayEndMinute]="configData.dayEndMinute"

      [daysInWeek]="daysInWeek"


      [events]="events"


      (eventClicked)="log($event)"
      (eventTimesChanged)="eventTimesChanged($event)"


      (dragEnter)="log($event)"
    ></mwl-calendar-week-view>
  </div>
</div>

<ng-template #headerTemplate>
  <div>dupa</div>
</ng-template>
