<div class="container">
  <div class="titleContainer">
    <mat-card-title class="mainTitle">Kalendarz</mat-card-title>
    <mat-spinner *ngIf="updatingState$|async" class="updatingStateLoader" [diameter]="25" mode="indeterminate"></mat-spinner>
  </div>

  <div class="calendar">
    <mwl-calendar-week-view
      [viewDate]="configData.actualDate"
      [locale]="configData.locale"
      [precision]="configData.precision"
      [hourSegments]="configData.hourSegments"
      [dayStartHour]="configData.dayStartHour"
      [dayStartMinute]="configData.dayStartMinute"
      [dayEndHour]="configData.dayEndHour"
      [dayEndMinute]="configData.dayEndMinute"

      [daysInWeek]="daysInWeek"


      [events]="events"


      (hourSegmentClicked)="onEmptyHourClicked($event)"
      (eventClicked)="onEventClicked($event)"
      (eventTimesChanged)="onChangeEventTime($event)"


      (dragEnter)="log($event)"
    ></mwl-calendar-week-view>
  </div>
</div>
