<mat-card-title class="mainTitle">
  <button mat-icon-button [routerLink]="['/', 'dashboard']">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  Moduł wiadomości
</mat-card-title>
<div class="cubesContainer">

  <div class="moduleCube" [routerLink]="['history']">
    <mat-icon>history</mat-icon>
    <div class="title">Historia wiadomości</div>
  </div>
  <div class="moduleCube" [routerLink]="['schema']">
    <mat-icon>question_answer</mat-icon>
    <div class="title">Schematy wiadomości</div>
  </div>
  <div class="moduleCube" [routerLink]="['plan']">
    <mat-icon>schedule</mat-icon>
    <div class="title">Planowanie wiadomości</div>
  </div>
</div>
