@import 'mixins';
@import 'variables';

.container{
  position: relative;
  height: calc(100vh - #{$menuHeight} - 60px);
}

.quickFunctionButton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999999999999999;
}
