<div class="mainContainer">

  <mat-sidenav-container>

    <mat-sidenav mode="side" [opened]="(sideBarService.opened$|async)" [mode]="isMobile ? 'over' : 'side'" [fixedInViewport]="true">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-nav></app-nav>

      <div class="container">
        <router-outlet #o="outlet"></router-outlet>
      </div>


      <!-- <mat-menu #quickMenu="matMenu" class="quickMenu" xPosition="before">
        <button mat-menu-item (click)="addCustomer()"><mat-icon>add</mat-icon> Dodaj klientkę</button>
        <button mat-menu-item (click)="addWork()"><mat-icon>add</mat-icon> Dodaj Wizytę</button>
      </mat-menu>

      <button mat-fab color="primary" class="quickFunctionButton" [matMenuTriggerFor]="quickMenu">
        <mat-icon class="icon">add</mat-icon>
      </button> -->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
