@import 'mixins';

.container{
  position: relative;
  padding: 15px;
  height: calc(100vh - 64px);
  @include tablet{
    height: calc(100vh - 56px);
  }
}

.quickFunctionButton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999999999999999;
}
