<div class="container">
  <form class="label" [formGroup]="form" (ngSubmit)="submit()">
    <div class="infoContainer">
      <div class="buttonElement"
        [(colorPicker)]="colorCtrl.value"
        [ngStyle]="{backgroundColor: colorCtrl.value}">
      </div>

      <mat-form-field>
        <mat-label>Nazwa etykiety</mat-label>
        <input matInput placeholder="Nazwa" [formControl]="nameCtrl">
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="submitBtn" type="submit">Dodaj</button>
  </form>
</div>
