form{
  display: flex;
  flex-flow: column;

  .buttonContainer{
    display: flex;
    justify-content: flex-end;
  }
}

.removeBtnContainer{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
