<div class="container">
  <div class="header">
    <div class="title">Wiadomości</div>
    <div class="subtitle">Zaplanuj sposób komunikacji z klientami</div>
    <mat-divider></mat-divider>
  </div>

  <div class="content">
    <div class="action" (click)="sendMessage()">Wyślij SMS</div>
    <div class="action" [routerLink]="['/', 'dashboard', 'message', 'plans']">Plany wiadomości</div>
    <div class="action" [routerLink]="['/', 'dashboard', 'message', 'history']">Historia wiadomości</div>
  </div>
</div>
