$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin onlyMobile {
  display: none;
  @include mobile {
    display: block;
  }
}

@mixin onlyDesktop {
  display: none;
  @include desktop {
    display: block;
  }
}

@mixin popupContainer {
  padding: 24px;
  width: 80vw;
}

@mixin arrowAnimation {
  transition: transform .3s ;
  user-select: none;

  &.up{

    transform: rotateZ(-90deg);
  }
  &.down{

    transform: rotateZ(90deg);
  }
}
