@import 'mixins';
.container{
  @include popupContainer;
}

.buttonsContainer{
  margin: 25px;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
}


.labelContainer{
  display: flex;
  flex-flow: row;
  align-items: center;
  app-label-form{
    flex: 1;
  }
}
