<div class="removeBtnContainer" *ngIf="ableToRemove">
  <button mat-raised-button color="warn" type="button" (click)="remove()">Usuń</button>
</div>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" cdkFocusRegionStart>

  <mat-form-field>
    <mat-label>Schemat wiadomości</mat-label>
    <mat-autocomplete #schemaAutoComplete="matAutocomplete" autoActiveFirstOption [displayWith]="displayFnMessage">
      <mat-option *ngFor="let schema of filteredSchemas$|async" [value]="schema">
        {{schema.name}}
      </mat-option>
    </mat-autocomplete>
    <input matInput placeholder="nazwa" [formControl]="schemaCtrl" [matAutocomplete]="schemaAutoComplete" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Godzina</mat-label>
    <mat-select [formControl]="hourCtrl">
      <mat-option *ngFor="let hour of [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]" [value]="hour">
        {{hour | timeLeadingZero}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Minuta</mat-label>
    <mat-select [formControl]="minuteCtrl">
      <mat-option *ngFor="let minute of [00, 15, 30, 45]" [value]="minute">
        {{minute | timeLeadingZero }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-radio-group class="radioContainer" [formControl]="timeTypeCtrl">
    <mat-radio-button [value]="TIMETYPES.dayBefore">Dzień Wcześniej</mat-radio-button>
    <mat-radio-button [value]="TIMETYPES.sameDay">Dzień wydarzenia</mat-radio-button>
  </mat-radio-group>

  <mat-checkbox [formControl]="activeCtrl">Aktywny</mat-checkbox>

  <div class="buttonContainer">
    <button mat-raised-button color="primary" class="addBtn" type="submit">Zapisz</button>
  </div>
</form>
