.form{
  display: flex;
  flex-flow: column;

  mat-form-field{

  }

  mat-checkbox{
    // margin-left: auto;
    margin-top: 15px;
  }

  .radioContainer{
    margin-bottom: 10px;

    mat-radio-button{
      margin-right: 10px;
    }
  }

  .buttonContainer{
    width: 100%;
    margin-top: 15px;

    button{
      margin-left: auto;
    }
  }
}
.removeBtnContainer{
  width: 100%;
  button{
    display: block;
    margin-left: auto;
  }
}
