
<mat-card>
  <mat-card-content class="column">
    <div class="container">
      <mat-card-title class="mainTitle">
        <button mat-icon-button [routerLink]="['/', 'dashboard']">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        Lista Pracowników
      </mat-card-title>

      <button mat-raised-button color="primary" class="addBtn" (click)="addWorker()">Dodaj Pracownika</button>
      <mat-list *ngIf="workers && workers[0]; else empty">
        <mat-list-item *ngFor="let worker of workers" (click)="clicked(worker)">
          <mat-icon matListAvatar>person</mat-icon>
          <div class="name" matLine>{{worker.name}}</div>
          <mat-divider></mat-divider>
        </mat-list-item>

      </mat-list>

    </div>
  </mat-card-content>
</mat-card>
<ng-template #empty>
  <div class="emptyContainer">
    <div class="title">Brak Pracowników</div>
  </div>
</ng-template>
