<div class="container">
  <div class="row">
    <div class="customer"><span class="title">Klient:</span> {{message.customer.name}} {{message.customer.surname}}</div>
  </div>

  <div class="row">
    <div class="name"><span class="title">Nazwa Schematu:</span> {{message.name}}</div>
  </div>

  <div class="row">
    <app-message-mobile-preview class="preview"
      [from]="message.name"
      [to]="message.customer.phone"
      [text]="message.text"
      [date]="message.created_at | date: 'HH:mm dd-MM-yyyy'"
      (backClicked)="close()"
    ></app-message-mobile-preview>
  </div>
</div>
