@import 'mixins';
@import 'variables';

.navBarContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary!important;
  padding: 0 10px;
  height: $menuheight;

  .brandContainer{
    display: flex;
    width: 250px;

    .menuHamburger{
      margin-right: 10px;
      color: $menuContentColor;
    }
  }

  #homeIcon {
    background-color: #fce4ec; // TODO: get from variables
    width: 60px;
    height: 40px;
    align-self: flex-end;
    border-radius: 20px 20px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .smallIcon {
      width: 35px;
      height: auto;
    }
  }

  .iconsContainer{
    display: flex;
    flex-flow: row;
    align-items: center;
    color: $menuContentColor;

    .label{
      font-size: 14px;
    }

    .notificationBtn{
      margin-left: 20px;
      cursor: pointer;
    }

    .walllet{
      font-size: 16px;
      cursor: pointer;
      outline: none;

      @include mobile{
        .label{
          display: none;
        }
      }
    }

    button{
      margin-left: 20px;
      @include mobile{
        margin-left: 10px!important;
      }
    }
  }

}


.accountInformation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding-bottom: 10px;

  .name{

  }
  .email{
    font-size: 12px;
  }
}
