@import 'mixins';

.navBarContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brandContainer{
    display: flex;

    .menuHamburger{
      margin-right: 10px;
    }

    .navbarBrand{
      display: flex;
      align-items: center;

      img{
        height: 30px;
      }
    }
  }

  .iconsContainer{
    display: flex;
    flex-flow: row;
    align-items: center;

    .label{
      font-size: 14px;
    }

    .walllet{
      font-size: 16px;

      @include mobile{
        display: none;
      }
    }

    button{

      margin-left: 30px;
    }
  }

}
