<mat-toolbar color="primary" class="navBarContainer">


  <div class="brandContainer">
    <button mat-icon-button (click)="sidebarService.toggle()" class="menuHamburger">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="navbarBrand" routerLink="/">
      <img src="assets/logo.svg" class="logo" alt="homepage">
    </a>
  </div>



  <div class="iconsContainer">

    <div class="walllet" [routerLink]="['/', 'dashboard', 'profile', 'wallet']">
      <span class="label">Stan konta: </span>
      {{user.wallet.money}} PLN
    </div>

    <button mat-icon-button  [matMenuTriggerFor]="profileMenu" #triggerNewElement="matMenuTrigger">
      <mat-icon>settings</mat-icon>
    </button>

    <mat-menu #profileMenu="matMenu" class="profileMenu">
      <div class="accountInformation" (click)="clickOnProfileMenu($event)">
        <span class="name">{{user.name}}</span>
        <span class="email">{{user.email}}</span>
      </div>
      <button mat-menu-item [routerLink]="['/', 'dashboard', 'profile']">
        <mat-icon>edit</mat-icon> Edytuj profil
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Wyloguj
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
