@import 'mixins';

.form {
  display: flex;
  flex-flow: column;

  .row {
    flex: 1;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 5px;
    mat-form-field{
      &:first-of-type {
        margin-right: 5px;
      }
      &:nth-of-type(2) {
        margin-left: 5px;
      }
    }
    @include mobile {
      flex-flow: column;
      mat-form-field{
        margin: 0!important;
      }
    }
  }

}

.title {
  font-size: 18px;
  font-weight: 500;
  @include mobile {
    margin-bottom: 10px;
  }
}

.activeCtrl {
  margin-left: auto;
}

.timeLabel{
  font-size: 16px;
  margin-right: 10px;
  @include mobile {
    margin-bottom: 10px;
  }
}

.diacriticsCtrl{
  margin-left: auto;
}

.timeContainer{
  mat-radio-button{
    margin-left: 5px;
  }
}

.buttonContainer{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  .previewBtn{
    margin-right: 5px;
  }
}
