<div class="container">
  <div class="title"></div>

  <mat-action-list class="customers" *ngIf="(customers$|async) as customers">

    <div class="customer" *ngFor="let customer of customers">

      <button mat-icon-button class="editBtn" (click)="edit(customer)">
        <mat-icon class="active">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" class="editBtn" (click)="remove(customer)">
        <mat-icon class="active">remove</mat-icon>
      </button>

      <button class="name" mat-list-item (click)="select(customer)">{{customer.name}}</button>
    </div>
  </mat-action-list>
</div>

<ng-template #empty>
  <mat-spinner></mat-spinner>
</ng-template>
