@import 'mixins';
.container{
  @include popupContainer;
  max-height: 90vh;
  overflow-y: auto;

  .title{
    font-size: 500;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;

    button{
      margin-left: auto;
    }
  }
}

// .buttonsContainer{
//   margin: 25px;
//   margin-top: 0;
//   display: flex;
//   justify-content: flex-end;
// }


.workerContainer{
  display: flex;
  flex-flow: row;
  align-items: center;
  @include mobile {
    flex-flow: column;
    align-items: flex-end;
    width: 100%;

    button{
      order: 1;
      margin-bottom: 5px;
    }

    app-worker-form{
      width: 100%;
      margin: 0 5px;
      order: 2;
    }

    mat-divider{
      width: 100%;
      margin: 3px 0 10px;
      order: 3;
    }
  }


  app-worker-form{
    flex: 1;
  }
}
