<div class="container">
  <form class="worker" [formGroup]="form" (ngSubmit)="submit()">
    <div class="infoContainer">
      <div class="buttonElement"
           cpAlphaChannel="disabled"
           [colorPicker]="colorCtrl.value"
           (colorPickerChange)="colorCtrl.setValue($event)"
           [ngStyle]="{backgroundColor: colorCtrl.value}">
      </div>

      <mat-form-field>
        <mat-label>Nazwa etykiety</mat-label>
        <input matInput placeholder="Nazwa" [formControl]="nameCtrl" autocomplete="off">
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="submitBtn" type="submit" *ngIf="!worker">Dodaj</button>
  </form>
</div>
