<form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="title">Przypomnij hasło!</div>
  <div class="subtitle">Aby to zrobić podaj email lub numer telefonu, wyślemy Ci wiadomość email z instrukcją odzyskania hasła</div>

  <mat-form-field>
    <input matInput placeholder="Email" type="email" [formControl]="emailCtrl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Numer telefonu" [formControl]="phoneCtrl" appPhoneMask>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" id="submit">Przypomnij</button>
</form>
