@import 'mixins';

.container{
  .mainTitle{
    text-align: center;
  }
}

form{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mobile{
    flex-flow: column;
  }

  mat-form-field{
    width: 49%;
    &.info{
      width: 100%;
    }

    @include mobile{
      width: 100%;
    }
  }

  .buttonContainer{
    width: 100%;
    display: flex;
    flex-flow: column;

    .submit{

    }
  }
}
