<div class="container">
  <mat-card-title class="mainTitle">Edytuj klientkę</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="name">
      <mat-label>Nazwa</mat-label>
      <input matInput placeholder="Nazwa" [formControl]="nameCtrl">
    </mat-form-field>
    <mat-form-field class="info">
      <mat-label>Treść</mat-label>
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"  [formControl]="textCtrl"
        cdkAutosizeMinRows="4" cdkAutosizeMaxRows="8"></textarea>
    </mat-form-field>

    <div class="buttonContainer">
      <button mat-raised-button color="primary" class="addBtn" type="submit">Zapisz</button>
    </div>
  </form>

</div>
