@import 'mixins';

.previewContainer{
  @include popupContainer;
}



.row{
  display: flex;
  flex-flow: row;
  align-items: baseline;
  border-bottom: 1px solid #eee;


  mat-form-field{
    flex: 1;
    margin-left: 30px;
  }
}

.preview{
  padding-top: 25px;
  font-size: 20px;
  &.center{
    text-align: center;
  }
}

