@import 'mixins';

.previewContainer{
  @include popupContainer;
}

.row{
  display: flex;
  flex-flow: row;
  align-items: baseline;
  border-bottom: 1px solid #eee;
  @include mobile{
    flex-flow: column;
    mat-form-field{
      margin-left: 0!important;
      width: 100%;
    }
  }

  mat-form-field{
    flex: 1;
    margin-left: 30px;
  }
}


