<div class="container">

  <ng-container *ngIf="data && data.id; else empty">
    <app-work-form [work]="data" *ngIf="!isOldWork; else oldWorkDisplay"
      [ableToRemove]="true"
      (workSubmitted)="catchWorkEmitted($event)"
      (workRemoved)="catchRemove()">
    </app-work-form>
  </ng-container>

  <ng-template #empty>
    <app-work-form
      [work]="data"
      [ableToRemove]="false"
      (workSubmitted)="catchWorkEmitted($event)">
    </app-work-form>
  </ng-template>

</div>


<ng-template #oldWorkDisplay>
  stara wizyta tutaj wyświetle informacje może jakieś możliwości co do starej wizyty?
</ng-template>
