<div class="container">

  <ng-container *ngIf="data && data.id; else empty">
    <app-work-form [work]="data" *ngIf="!isOldWork; else oldWorkDisplay"
      [ableToRemove]="true"
      (errorEmitted)="close(null, 'edit')"
      (workSubmitted)="close($event, 'edit')"
      (workRemoved)="close(data, 'delete')">
    </app-work-form>
  </ng-container>

  <ng-template #empty>
    <app-work-form
      [work]="data"
      (errorEmitted)="close(null, 'add')"
      (workSubmitted)="close($event, 'add')">
    </app-work-form>
  </ng-template>

</div>


<ng-template #oldWorkDisplay>
  stara wizyta tutaj wyświetle informacje może jakieś możliwości co do starej wizyty?
</ng-template>
