@import '~@angular/material/theming';

$myTheme-primary: mat-palette($mat-pink, 400);
$myTheme-accent:  mat-palette($mat-pink, A200, A100, A400);
$myTheme-warn:    mat-palette($mat-red);

$background-color: map_get($mat-pink, 50);
// $background-color: map_get($mat-pink, 50);

