@import 'mixins';
@import 'variables';

.container{
  width: 300px;
  height: 100%;
  color: rgba(0,0,0,.87);;
  // padding: 10px 20px;

  .header{
    display: flex;
    justify-content: space-between;

    .brandContainer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      .navbarBrand {
        padding-top: 5px;
        padding-left: 5px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
mat-list-item{

  &:hover{
    $color: $primary;
    .link{
      color: $color;
      transition: color .2s;
      mat-icon{
        color: $color;
        transition: color .2s;
      }
    }
  }

  .link{
    display: flex;
    flex-flow: row;
    align-items: center;
    mat-icon{
      margin-right: 5px;
    }
    &.child {
      padding-left: 35px;
    }
  }
}

.active {
  color: $primary;
  position: relative;
  &::after {
    border-right: 17px solid $primary;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    opacity: 1;
    top: 7px;
    transition: opacity 150ms ease-in;
  }
}

.arrow_icon{
  @include arrowAnimation;
}
