<div class="container">



  <div class="content">
    <mat-nav-list>
      <!-- <mat-list-item *ngFor="let link of sidemenuElements">
         <a matLine [routerLinkActive]="'active'" [routerLink]="link.navigateTo">{{ link.title }}</a>
         <button mat-icon-button >
            <mat-icon>info</mat-icon>
         </button>
      </mat-list-item> -->

      <ng-container *ngFor="let link of sidemenuElements">
        <mat-list-item [routerLinkActive]="'active'" [routerLink]="link.navigateTo" (click)="link.active = true" [id]="link.id">
          <a class="link">
            <mat-icon class="icon">{{ link.icon }}</mat-icon>
            {{ link.title }}
            <!-- <mat-icon class="arrow_icon" #arrowProduct [ngClass]="{'down': link.active}" *ngIf="link.child">keyboard_arrow_right</mat-icon> -->

          </a>
        </mat-list-item>

        <ng-container *ngIf="link.child">
          <mat-list-item [routerLinkActive]="'active'" [routerLink]="childLink.navigateTo" *ngFor="let childLink of link.child"  (click)="link.active = true"  [id]="childLink.id">
            <a class="link child">
              <mat-icon class="icon">{{ childLink.icon }}</mat-icon>
              {{ childLink.title }}
            </a>
          </mat-list-item>
        </ng-container>

      </ng-container>


    </mat-nav-list>
  </div>
</div>
