@import 'mixins';
.container{
  width: 260px;
  height: 100%;
  color: rgba(0,0,0,.87);;
  // padding: 10px 20px;
}

.link{
  display: flex;
  flex-flow: row;
  align-items: center;
  mat-icon{
    margin-right: 5px;
  }
  &.child {
    padding-left: 35px;
  }
}

.active {
  color: #02bec9;
}

.arrow_icon{
  @include arrowAnimation;
}
