@import 'mixins';
@import 'variables';

.container{
  width: 300px;
  height: 100%;
  color: rgba(0,0,0,.87);;
  // padding: 10px 20px;

  .header{
    display: flex;
    justify-content: space-between;

    .brandContainer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      height: $menuHeight - 1px;
      border-bottom: 1px solid #ddd;
      .navbarBrand {
        padding-top: 5px;
        padding-left: 5px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .profileContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 0;

    .avatar {
      $size: 60px;
      display: block;
      width: $size;
      height: $size;
      font-size: $size;
      cursor: pointer;
    }
    .name {
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
mat-nav-list{
  padding-top: 0;
  mat-list-item {
    padding-top: 0;

    &:hover{
      $color: $primary;
      .link{
        color: $color;
        transition: color .2s;
        mat-icon{
          color: $color;
          transition: color .2s;
        }
      }
    }

    &.active {
      color: $primary;
      position: relative;
      &::after {
        border-right: 17px solid $primary;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        opacity: 1;
        top: 7px;
        transition: opacity 150ms ease-in;
      }
    }

    .link{
      display: flex;
      flex-flow: row;
      align-items: center;
      mat-icon{
        margin-right: 5px;
      }
      &.child {
        padding-left: 35px;
      }
    }
  }
}
