.container{
  display: flex;
  flex-flow: column;
}

.textarea{
  padding-bottom: 20px;
}

.smsCounter{
  position: absolute;
  font-size: 12px;
  right: 20px;
  bottom: -20px;
  color: #888;
  &.invalid{
    color: #f44336;
  }
}

.mainError{
  margin-bottom: 10px;
}
