<form class="container" [formGroup]="form" (ngSubmit)="init()">

  <mat-form-field>
    <mat-label>Klientka</mat-label>
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFnCustomer">
      <mat-option *ngFor="let customer of filteredCustomers$|async" [value]="customer">
        {{customer.name}} {{customer.surname}} ({{customer.phone}})
      </mat-option>
    </mat-autocomplete>
    <input matInput placeholder="Imie" [formControl]="customerCtrl" [matAutocomplete]="auto" >
    <!-- <span class="infoB" (click)="newCustomer($event)">Nowa Klientka?</span> -->
  </mat-form-field>

  <mat-form-field>
    <mat-label>Schemat wiadomości</mat-label>
    <mat-autocomplete #schemaAutoComplete="matAutocomplete" autoActiveFirstOption [displayWith]="displayFnMessage">
      <mat-option *ngFor="let schema of filteredSchemas$|async" [value]="schema">
        {{schema.name}}
      </mat-option>
    </mat-autocomplete>
    <input matInput placeholder="nazwa" [formControl]="schemaCtrl" [matAutocomplete]="schemaAutoComplete" >
  </mat-form-field>


    <mat-form-field>
      <mat-label>treść wiadomości</mat-label>
      <textarea matInput [formControl]="textCtrl"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"></textarea>

      <div class="smsCounter">Pozostało znaków: {{smsCountData.remaining}} ({{smsCountData.messages}} wiadomość)</div>
    </mat-form-field>

  <div class="buttonContainer">
    <button mat-raised-button color="primary" class="addBtn" type="submit">Wyślij</button>
  </div>
</form>
